# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
output/
generated_audio/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# IDEs (VS Code, PyCharm)
.vscode/
.idea/